
/*
    - We can also update the width & height with vw, vh units;
*/

#product-overview {
    background: url("images/freedom.jpg") left 10% bottom 70%/cover no-repeat border-box;
    /* We can also change the width to vw unit */
    /*width: 100%;*/

    /* By using width in vw unit, we will see a horizontal scrollbar. Why ?
        - This happens only on windows, not mac
        - On Windows, "vw" doesn't include the scrollbar

        Solution:
            1. Rather use %age for width. ---> For now, let's go with width as %
            2. Add overflow-y or overflow-x as hidden to body selector
            3. Add : :-webkit-scrollbar pseudo element with width as 0;
    */
    /*width: 100vw;*/
    /* We can apply in all width & height to use vw & vh */
    width: 100%;

    /* We can update the height from px to vh */
    /*height: 528px;*/
    height: 33vh;

    margin-top: 2.75rem;
    position: relative;

}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: "Anton", sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.plans__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background-color: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

#key-features {
    background: #ef4747;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 1.5rem;
}

.key-feature__description {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}