body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

a.active {
    color: purple;
}

/* This will select anchor tag which doesn't have the active class */
/* Though this can be handy in some situation but
    often we can find a positive way of writing below rule*/
a:not(.active) {
    color: blue;
}

.main-section {
    height: 200px;
    border: 2px solid #ccc;
    padding: 16px;
}

.highlighted {
    border: 5px solid #fa923f;
}

